.inputs {
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dishInput {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: white;
    padding: 6px 10px;
    margin-right: 2px;
}

.searchBtn {
    background-color: white; 
    color: #333;
    border: 2px solid white;
    border-radius: 4px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
}
  
.searchBtn:hover {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
}

select {
    background-color: white; 
    color: #333; 
    border: 2px solid white;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.left {
    float: left;
}

.right {
    float: right;
}